---

---

<div class="max-w-2xl mx-auto space-y-16 divide-y divide-replicant-500 lg:mx-0 lg:max-w-none">
    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div>
            <h2 class="text-2xl font-bold tracking-wider uppercase text-replicant-100">Booking</h2>
            <p class="mt-4 leading-7 text-replicant-200">
                For all booking inquiries, please contact us at the appropriate email address.
            </p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
            <div class="p-10 rounded-2xl bg-replicant-700">
                <h3 class="text-lg font-semibold leading-7 text-replicant-200">
                    North America, Asia, Australia
                </h3>
                <dl class="mt-3 space-y-1 text-sm leading-6 text-replicant-200">
                    <div class="mt-1">
                        <dd>Tito Vespasiani</dd>
                        <dd>Death Over Rome</dd>
                    </div>
                    <div>
                        <dt class="sr-only">Email</dt>
                        <dd>
                            <a
                                class="underline text-primaryColor hover:text-primaryColorDark"
                                href="mailto:tito.dta@gmail.com">tito.dta@gmail.com</a
                            >
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="p-10 rounded-2xl bg-replicant-700">
                <h3 class="text-lg font-semibold leading-7 text-replicant-200">Europe</h3>
                <dl class="mt-3 space-y-1 text-sm leading-6 text-replicant-200">
                    <div class="mt-1">
                        <dd>Andrea Collaro</dd>
                        <dd>Occult Booking</dd>
                    </div>
                    <div>
                        <dt class="sr-only">Email</dt>
                        <dd>
                            <a
                                class="underline text-primaryColor hover:text-primaryColorDark"
                                href="mailto:andrea@occultbooking.it">andrea@occultbooking.it</a
                            >
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 pt-16 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div>
            <h2 class="text-2xl font-bold tracking-wider uppercase text-replicant-100">Contact</h2>
            <p class="mt-4 leading-7 text-replicant-200">For all other inquiries.</p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
            <div class="p-10 rounded-2xl bg-replicant-700">
                <h3 class="text-lg font-semibold leading-7 text-replicant-200">Label</h3>
                <div class="mt-3 space-y-1 text-sm not-italic leading-6 text-replicant-200">
                    <p>Transcending Obscurity Records</p>
                    <a
                        href="mailto:info@tometal.com"
                        class="underline text-primaryColor hover:text-primaryColorDark"
                        target="_blank"
                        rel="noopener">info@tometal.com</a
                    >
                </div>
            </div>
            <div class="p-10 rounded-2xl bg-replicant-700">
                <h3 class="text-lg font-semibold leading-7 text-replicant-200">
                    Interviews &amp; Grievances
                </h3>
                <div class="mt-3 space-y-1 text-sm not-italic leading-6 text-replicant-200">
                    <p>Roy Batty</p>
                    <a
                        href="mailto:replicantnj@gmail.com"
                        class="underline text-primaryColor hover:text-primaryColorDark"
                        target="_blank"
                        rel="noopener">replicantnj@gmail.com</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
