---

---

<div>
    <iframe
        src="https://www.youtube.com/embed/5Bl5a7LNR_A"
        title="YouTube video player"
        class="w-full aspect-video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
<div class="grid sm:grid-cols-3 gap-8 mt-8">
    <iframe
        src="https://www.youtube.com/embed/NqxaGPBRX6g"
        title="YouTube video player"
        class="w-full aspect-video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
        <iframe
        src="https://www.youtube.com/embed/paaaIb4f9D0"
        title="YouTube video player"
        class="w-full aspect-video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
        <iframe
        src="https://www.youtube.com/embed/ev66UEc7Nkk"
        title="YouTube video player"
        class="w-full aspect-video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
