---

---

<div>
    <iframe
        src="https://www.youtube.com/embed/GM0OTnaNhW0"
        title="YouTube video player"
        class="w-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<div class="grid sm:grid-cols-2 gap-8 mt-8">
    <iframe
        src="https://www.youtube.com/embed/G-CiXxxbts0"
        title="YouTube video player"
        class="w-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <iframe
        src="https://www.youtube.com/embed/NqxaGPBRX6g"
        title="YouTube video player"
        class="w-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <iframe
        src="https://www.youtube.com/embed/5Bl5a7LNR_A"
        title="YouTube video player"
        class="w-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <iframe
        src="https://www.youtube.com/embed/TR8Pk-Si5_4"
        title="YouTube video player"
        class="w-full aspect-video"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
