@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-header {
        @apply mb-12 text-3xl font-medium tracking-wider text-center uppercase text-replicant-200 lg:text-5xl;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Iceberg", serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.snipcart-button-primary {
    background-color: #7e6e55;
    color: #fff;
}

.snipcart-button-primary:hover {
    background-color: #615542;
}

.aspect-video {
    aspect-ratio: 16 / 9
}
