---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import hat1 from '../../assets/three-amigos/1.jpg';
import hat2 from '../../assets/three-amigos/2.jpeg';
import hat3 from '../../assets/three-amigos/3.jpg';

const images = [hat1, hat2, hat3];
---

<BaseLayout
    title="Replicant | New Jersey Death Metal"
    desc="Site for the New Jersey based Death Metal band Replicant. Buy some shit!"
>
    <div class="mt-0 sm:mt-24">
        <div class="max-w-2xl px-4 py-16 mx-auto sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
                <!-- Image gallery -->
                <div class="flex flex-col-reverse">
                    <!-- Image selector -->
                    <div class="hidden w-full max-w-2xl mx-auto mt-6 sm:block lg:max-w-none">
                        <div
                            class="grid grid-cols-4 gap-6"
                            aria-orientation="horizontal"
                            role="tablist"
                        >
                            {
                                images.map((image, index) => (
                                    <button
                                        id={`tabs-${index + 1}-tab-${index + 1}`}
                                        class="relative flex items-center justify-center h-24 text-sm font-medium uppercase bg-white rounded-md cursor-pointer text-replicant-100 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-4"
                                        aria-controls={`tabs-${index + 1}-panel-${index + 1}`}
                                        role="tab"
                                        type="button"
                                        data-image-index={index}
                                    >
                                        <span class="sr-only">View {index + 1}</span>
                                        <span class="absolute inset-0 overflow-hidden rounded-md">
                                            <Image
                                                src={image}
                                                alt={`Product image ${index + 1}`}
                                                class="object-cover object-center w-full h-full"
                                            />
                                        </span>
                                        <span
                                            class="absolute inset-0 rounded-md pointer-events-none ring-2 ring-transparent ring-offset-2"
                                            aria-hidden="true"
                                        />
                                    </button>
                                ))
                            }
                        </div>
                    </div>

                    <div class="w-full aspect-h-1 aspect-w-1">
                        <!-- Main image container -->
                        <div id="main-image-container" class="w-full h-full">
                            <Image
                                src={images[0]}
                                alt="Main product image"
                                class="object-cover object-center w-full h-full"
                            />
                        </div>
                    </div>
                </div>

                <!-- Product info -->
                <div class="px-4 mt-10 sm:mt-16 sm:px-0 lg:mt-0">
                    <h1 class="text-3xl font-semibold text-replicant-100">
                        Three Amigos Longsleeve Shirt
                    </h1>

                    <div class="mt-3">
                        <h2 class="sr-only">Product information</h2>
                        <p class="text-3xl tracking-tight text-replicant-100">$25</p>
                    </div>

                    <div class="mt-6">
                        <h3 class="sr-only">Description</h3>

                        <div class="space-y-6 text-lg">
                            <p class="text-replicant-300">
                                Royal Blue 2400 long sleeve Gildan 2 color front / no back / 2 color
                                sleeve
                            </p>
                        </div>
                    </div>

                    <div class="flex mt-10">
                        <button
                            class="flex items-center justify-center flex-1 max-w-xs px-8 py-3 text-base font-medium text-white border border-transparent rounded-md snipcart-add-item bg-primaryColor hover:bg-primaryColorDark focus:outline-none focus:ring-2 focus:ring-replicant-800 focus:ring-offset-2 focus:ring-offset-replicant-500 sm:w-full"
                            data-item-id="0000001"
                            data-item-price="25"
                            data-item-url="/shop/three-amigos"
                            data-item-image=""
                            data-item-name="Three Amigos"
                            data-item-weight="328">Add to bag</button
                        >
                    </div>

                    <section aria-labelledby="details-heading" class="mt-12">
                        <h2 id="details-heading" class="sr-only">Additional details</h2>

                        <div class="border-t divide-y divide-gray-200">
                            <div>
                                <span class="block mt-6 font-medium text-replicant-100"
                                    >Features</span
                                >
                                <div class="pb-6 mt-1 prose text-replicant-300">
                                    <p>
                                        Back by popular demand, a reprint of a wild design we
                                        unleashed a few years ago. We're doing a limited batch of
                                        25, so get em while they're hot. Will be available on our
                                        upcoming Canadian run as well.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const mainImageContainer = document.getElementById('main-image-container');
        const thumbnails = document.querySelectorAll('[data-image-index]');

        thumbnails.forEach((thumbnail) => {
            thumbnail.addEventListener('click', () => {
                const imageIndex = thumbnail.getAttribute('data-image-index');
                const newImageSrc = thumbnail.querySelector('img').src;

                const mainImage = mainImageContainer.querySelector('img');
                mainImage.src = newImageSrc;
                mainImage.srcset = ''; // Clear srcset to ensure the new src is used
            });
        });
    });
</script>
