---
import BaseLayout from '../layouts/BaseLayout.astro';
import Product from '../components/Product.astro';

import Hero from '../components/homepage/Hero.astro';
import Video from '../components/homepage/Video.astro';
import About from '../components/homepage/About.astro';

let products = null;
let reviews = null;
try {
    const result = await fetch(
        import.meta.env.PUBLIC_GRAPHCMS_API,
        {
            headers: {
                "Content-Type": "application/json",
            },
            method: 'POST',
            body: JSON.stringify({
                query: `query{
                    products{
                        slug
                        id
                        title
                        description
                        price
                        images{
                            id
                            url
                        }
                        productType
                        productWeight
                        createdAt
                    }
                    reviews {
                        pullQuote
                        source
                        linkToReview
                    }
                }`
            })
        }
    );
    if(result.ok){
        const resultJSON = await result.json();
        products = resultJSON.data.products;
        reviews = resultJSON.data.reviews;

        // turn createdAt into a date object
        products.forEach(product => {
            product.createdAt = new Date(product.createdAt);
        });
        // sort products by createdAt
        products.sort((a, b) => {
            return (b.createdAt) - (a.createdAt);
        });
    } else {
        console.log('fuck')
        throw new Error(`${result.status}: ${result.statusText}`);
    }
} catch(error) {
    console.error(error);
}
---

<BaseLayout title="Replicant | New Jersey Death Metal" desc="Site for the New Jersey based Death Metal band Replicant. Buy some shit!">
    <Hero reviews={reviews[0]}/>
    <main class="space-y-20 lg:space-y-32 py-16 lg:py-32">
        <section id="shop" class="max-w-7xl mx-auto px-4 lg:px-6 scroll-mt-6 lg:scroll-mt-32">
            <h2 class="section-header">Shop</h2>
            <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 xl:gap-x-8">
                {
                    products.map(product=><Product product={product}/>)
                }
            </div>
        </section>
        <section id="videos" class="max-w-7xl mx-auto px-4 lg:px-6 scroll-mt-6 lg:scroll-mt-32">
            <h2 class="section-header">Videos</h2>
            <Video />
        </section>
        <section id="about" class="max-w-7xl mx-auto px-4 lg:px-6 scroll-mt-6 lg:scroll-mt-32">
            <h2 class="section-header">About Replicant</h2>
            <About />
        </section>
    </main>
</BaseLayout>
