---
import BaseLayout from '../layouts/BaseLayout.astro';
import GlobalNav from '../components/GlobalNav.vue';

import Product from '../components/Product.astro';

let products = null;
try {
    const result = await fetch(
        import.meta.env.PUBLIC_GRAPHCMS_API,
        {
            headers: {
                "Content-Type": "application/json",
            },
            method: 'POST',
            body: JSON.stringify({
                query: `query{
                    products{
                        slug
                        id
                        title
                        description
                        price
                        images{
                            id
                            url
                        }
                        productType
                    }
                }`
            })
        }
    );
    if(result.ok){
        const resultJSON = await result.json();
        products = resultJSON.data.products;
    } else {
        console.log('fuck')
        throw new Error(`${result.status}: ${result.statusText}`);
    }
} catch(error) {
    console.error(error);
}
---

<BaseLayout title="Replicant | New Jersey Death Metal" desc="Site for the New Jersey based Death Metal band Replicant. Buy some shit!">
    <main>
        <GlobalNav client:only="vue"/>
        <section class="max-w-7xl mx-auto px-4 lg:px-6">
            <h2>Buy Our Shit</h2>
            <div class="flex flex-col sm:grid sm:grid-cols-3 gap-8">
                {
                    products.reverse().map(product=><Product product={product}/>)
                }
            </div>
        </section>
    </main>
</BaseLayout>
