---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Replicant | New Jersey Death Metal"
    desc="Site for the New Jersey based Death Metal band Replicant. Buy some shit!"
>
    <main class="flex justify-center items-center h-screen">
        <div class="px-4 py-4 rounded-lg shadow-xl lg:px-20 lg:py-12 bg-replicant-700">
            <div class="max-w-4xl callout">
                <div>
                    <h1
                        class="uppercase text-center text-4xl sm:text-7xl md:text-left md:text-[6rem] text-white font-semibold leading-none"
                    >
                        Be the first to know
                    </h1>
                </div>
                <div class="flex flex-col gap-6">
                    <img src="/assets/vc.svg" alt="Void Channels Logo" class="px-1" />
                    <p class="text-white">
                        Subscribe to our newsletter to be the first to the know about the latest
                        news, merch drops, and tour dates.
                    </p>
                    <form
                        action="https://buttondown.com/api/emails/embed-subscribe/replicant"
                        method="post"
                        target="popupwindow"
                        onsubmit="window.open('https://buttondown.com/replicant', 'popupwindow')"
                        class="embeddable-buttondown-form"
                    >
                        <div class="flex gap-2 items-center">
                            <label for="bd-email" class="sr-only">Enter your email</label>
                            <input
                                type="email"
                                name="email"
                                id="bd-email"
                                class="px-4 py-2 w-full text-base bg-white rounded-md border appearance-none border-replicant-300 text-replicant-900 placeholder-replicant-500 focus:outline-none focus:ring-primary focus:border-primary focus:placeholder-replicant-400 sm:max-w-xs"
                                required
                                placeholder="Enter your email"
                            />
                            <button
                                type="submit"
                                value="Subscribe"
                                class="flex justify-center items-center px-4 py-2 text-base font-medium text-white rounded-md border border-transparent bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary"
                                >Subscribe</button
                            >
                        </div>
                        <small class="block mt-1.5 text-xs text-white/30">
                            <a href="https://buttondown.com/refer/replicant" target="_blank"
                                >Powered by Buttondown.</a
                            >
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </main>
</BaseLayout>

<style scoped>
    .callout {
        display: grid;
        grid-gap: 1rem;
    }

    @supports (width: min(250px, 100%)) {
        .callout {
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        }
    }
</style>
