<footer class="bg-replicant-800" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div
            class="lg:flex lg:items-center lg:justify-between xl:mt-0"
        >
            <div>
                <h3 class="text-sm font-semibold text-replicant-200 tracking-wider uppercase">
                    Subscribe to our newsletter
                </h3>
                <p class="mt-2 text-base text-replicant-400">
                    Be in the know for the latest news, merch, and tour dates.
                </p>
            </div>
            <form name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="mt-4 sm:flex sm:max-w-md lg:mt-0">
                <div class="hidden">
                    <label>Don’t fill this out if you’re human: <input name="bot-field"/></label>
                </div>
                <label for="email-address" class="sr-only">Email address</label>
                <input
                    type="email"
                    name="email-address"
                    id="email-address"
                    autocomplete="email"
                    required
                    class="appearance-none min-w-0 w-full bg-white border border-replicant-300 py-2 px-4 text-base rounded-md text-replicant-900 placeholder-replicant-500 focus:outline-none focus:ring-primaryColor-500 focus:border-primaryColor-500 focus:placeholder-replicant-400 sm:max-w-xs"
                    placeholder="Enter your email"
                />
                <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
                    <button
                        type="submit"
                        class="w-full bg-primaryColor border border-transparent rounded-md py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-primaryColorDark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primaryColor"
                    >
                        Subscribe
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-8 border-t border-replicant-500 pt-8 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                <a
                    href="https://www.facebook.com/replicantnj"
                    target="_blank"
                    rel="noopener"
                    class="text-replicant-400 hover:text-replicant-500"
                >
                    <span class="sr-only">Facebook</span>
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            fill-rule="evenodd"
                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </a>

                <a
                    href="https://www.instagram.com/replicantnj/"
                    target="_blank"
                    rel="noopener"
                    class="text-replicant-400 hover:text-replicant-500"
                >
                    <span class="sr-only">Instagram</span>
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path
                            fill-rule="evenodd"
                            d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </a>

                <a
                    href="https://replicantnj.bandcamp.com/"
                    target="_blank"
                    rel="noopener"
                    class="text-replicant-400 hover:text-replicant-500"
                >
                    <span class="sr-only">Bandcamp</span>
                    <svg
                        class="h-6 w-6"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xml:space="preserve"
                        viewBox="0 0 682.66669 682.66669"
                    >
                        <defs>
                            <path id="a" d="M0 0h5120v5120H0Z" />
                        </defs>
                        <defs>
                            <clipPath id="b" clipPathUnits="userSpaceOnUse">
                                <path
                                    d="M2560 0c1413.85 0 2560 1146.15 2560 2560S3973.85 5120 2560 5120 0 3973.85 0 2560 1146.15 0 2560 0Z"
                                    clip-rule="evenodd"
                                />
                            </clipPath>
                            <clipPath id="c" clipPathUnits="userSpaceOnUse">
                                <use xlink:href="#a" />
                            </clipPath>
                            <clipPath id="d" clipPathUnits="userSpaceOnUse">
                                <path
                                    d="M3248.57 2735.96c-183.49 0-277.25-144.42-277.25-362 0-205.66 101.38-360.04 277.25-360.04 198.89 0 273.45 182.02 273.45 360.04-.14 185.9-93.84 362-273.51 362M2761 3275.92h217.97v-522.15h3.85c59.28 98.87 183.55 160.21 294.46 160.21 311.63 0 462.74-245.35 462.74-544.05 0-274.84-133.84-533.97-426.43-533.97-133.85 0-277.25 33.54-342.29 168.09h-3.78v-140.51h-206.53v1412.35l.01.03"
                                    clip-rule="evenodd"
                                />
                            </clipPath>
                            <clipPath id="e" clipPathUnits="userSpaceOnUse">
                                <use xlink:href="#a" />
                            </clipPath>
                            <clipPath id="f" clipPathUnits="userSpaceOnUse">
                                <path
                                    d="M4543.89 2544.02c-17.22 124.62-105.15 191.92-225.61 191.92-112.87 0-271.54-61.35-271.54-371.91 0-170.13 72.64-350.15 261.97-350.15 126.18 0 214.11 87.14 235.18 233.51h217.97c-40.16-265.06-198.84-411.43-453.15-411.43-309.78 0-479.95 227.42-479.95 528.07 0 308.56 162.53 549.89 487.6 549.89 229.44 0 424.54-118.68 445.5-369.91h-217.61l-.36.01"
                                    clip-rule="evenodd"
                                />
                            </clipPath>
                            <clipPath id="g" clipPathUnits="userSpaceOnUse">
                                <use xlink:href="#a" />
                            </clipPath>
                            <clipPath id="h" clipPathUnits="userSpaceOnUse">
                                <path
                                    d="M1998.95 1866.62H364.078l763.462 1409.3h1634.88l-763.47-1409.3"
                                    clip-rule="evenodd"
                                />
                            </clipPath>
                            <clipPath id="i" clipPathUnits="userSpaceOnUse">
                                <use xlink:href="#a" />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#b)" transform="matrix(.13333 0 0 -.13333 0 682.66667)">
                            <g clip-path="url(#c)">
                                <path fill="#a5a5a5" d="M0 0h5170v5170H0Z" />
                            </g>
                        </g>
                        <g clip-path="url(#d)" transform="matrix(.13333 0 0 -.13333 0 682.66667)">
                            <g clip-path="url(#e)">
                                <path
                                    fill="#18181b"
                                    d="M2710.99 1785.96h1079.03v1539.96H2710.99Z"
                                />
                            </g>
                        </g>
                        <g clip-path="url(#f)" transform="matrix(.13333 0 0 -.13333 0 682.66667)">
                            <g clip-path="url(#g)">
                                <path fill="#18181b" d="M3778.76 1785.96h1033.1v1177.96h-1033.1z" />
                            </g>
                        </g>
                        <g clip-path="url(#h)" transform="matrix(.13333 0 0 -.13333 0 682.66667)">
                            <g clip-path="url(#i)">
                                <path fill="#18181b" d="M314.078 1816.62h2498.34v1509.3H314.078Z" />
                            </g>
                        </g>
                    </svg>
                </a>

                <a
                    href="https://open.spotify.com/artist/0D3rZuKDs7qaBtoFaQ6tJU?si=CZ79abtvREyLjL3DkGPbzg"
                    target="_blank"
                    rel="noopener"
                    class="text-replicant-400 hover:text-replicant-500"
                >
                    <span class="sr-only">Spotify</span>
                    <svg
                        class="h-6 w-6"
                        stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <defs>
                            <style>
                                .cls-1 {
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 2px;
                                }
                            </style>
                        </defs>
                        <circle class="cls-1" cx="11.99" cy="12" r="11.25" />
                        <path
                            class="cls-1"
                            d="M7 7.85a10 10 0 0 1 5.64-.7 10 10 0 0 1 5.24 2.24M6.53 11.73a10 10 0 0 1 5.56-.66 10.06 10.06 0 0 1 5.15 2.16M6 15.59a10.07 10.07 0 0 1 5.54-.65 10 10 0 0 1 5.16 2.17"
                        />
                    </svg>
                </a>
            </div>
            <p class="mt-8 text-base text-replicant-400 md:mt-0 md:order-1">
                &copy; 2022 Replicant. All rights reserved.
            </p>
        </div>
    </div>
</footer>
