---
import NewsletterForm from './NewsletterForm.astro';
---

<div>
    <div class="mx-auto container py-2 px-4 promo-banner shadow-xl rounded-xl">
        <div class="relative isolate overflow-hidden px-6 py-32 text-center sm:px-16">
            <h2 class="text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">
                Subscribe to Void Channels
            </h2>
            <p class="mx-auto mt-6 max-w-xl text-xl text-pretty text-white">
                Be the first to know about the latest news, merch drops, and tour dates.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <NewsletterForm id="email-promo" />
            </div>
        </div>
    </div>
</div>

<style>
    .promo-banner {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('https://res.cloudinary.com/observatory-team/image/upload/c_limit,w_1280,f_avif/v1759845562/ninj_zij5kg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
