<div
    class="relative flex items-center gap-x-6 bg-secondary px-6 py-3 after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 sm:px-3.5 sm:before:flex-1"
>
    <p class="text-replicant-900">
        <a href="/summer-sale/">
            <strong class="font-semibold">⚔️ Summer Sale is live ⚔️</strong><svg
                viewBox="0 0 2 2"
                aria-hidden="true"
                class="mx-2 inline size-0.5 fill-current"><circle r="1" cx="1" cy="1"></circle></svg
            >20% off all sale items using the code <span class="font-bold">SUMMERSUGGESTIES</span> at
            checkout&nbsp;<span aria-hidden="true">&rarr;</span>
        </a>
    </p>
    <div class="flex flex-1 justify-end">
        <button type="button" class="-m-3 p-3 focus-visible:-outline-offset-4">
            <span class="sr-only">Dismiss</span>
            <svg
                viewBox="0 0 20 20"
                fill="currentColor"
                data-slot="icon"
                aria-hidden="true"
                class="size-5 text-replicant-900"
            >
                <path
                    d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
                ></path>
            </svg>
        </button>
    </div>
</div>
