---
const {title, desc} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>

        <meta name="description" content={desc}>

        <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.css" />

        <link rel="preconnect" href="https://app.snipcart.com" />
        <link rel="preconnect" href="https://cdn.snipcart.com" />

    </head>
    <body>
        <div class="bg-gray-900">
            <div class="max-w-7xl mx-auto h-10 px-4 flex items-center justify-end sm:px-6 lg:px-8">
                <div class="flex items-center space-x-6">
                    <button
                        href="#"
                        class="text-sm font-medium text-white hover:text-gray-100 snipcart-customer-signin"
                    >
                        Sign in
                    </button>
                    <button href="#" class="text-sm font-medium text-white hover:text-gray-100 snipcart-customer-register">
                        Create an account
                    </button>
                </div>
            </div>
        </div>
        <slot />

        <script async src="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.js"></script>
        <div id="snipcart" data-config-modal-style="side" data-api-key={import.meta.env.PUBLIC_SNIPCART_API} hidden></div>
    </body>
</html>
